.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;

    display: flex;
    justify-content: center;
    gap: 30px;

    padding: 15px 0;
    border-bottom: 1px solid black;
    z-index: 100;
}

.link-button {
    text-decoration: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
}

.link-button {
    color: gray;
}

.sidebar{
    position: fixed;
    top: 50px;
    left: 0px;
    width: 200px;
    height: 100%;
    background:gainsboro;
}

.title {
    border-radius: 10px;
    margin-top: 60px;
    margin-left: 200px;
    padding:10px;
}
.content {
    margin-top: 40px;
    margin-left: 200px;
    padding: 20px;
    gap:100px
}

.section{
    position: relative;
    top:-10px;
    background-color: white;
    border-radius: 10px;
    width: 80%;
}
.section h1{
    padding:10px;
    margin:10px;
}
.section p{
    padding:10px;
    margin:10px;
}
.section hr{
    border-top:dashed;
    width:97%;
    align-self: center;
}

html{
    scroll-behavior: smooth;
}
